/*
Colors {
    blue:               #64C6F2,
    black:              #231E20,
    black:              #1A171B,
    beige:              #D7C797,
    dark beige:         #845422,
    dark orange:        #E86031,
    dark red:           #BE0A26,
    ace:                #FFFFFF,
    gray:               #DDDDDD,
    brown_light:        #C2986B,
    dark_yellow:        #FDC700,
    red_reg:            #E5352D,
    orange_dark_lighr:  #EC7A4C,
    yellow_reg:         #F1EA7D

}
 */
/*================================
	# Loading Screen
================================*/

.loading-overlay{
    background:#FFF;
    color:#424242;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:111111;
}

.loader {
    margin: 20% auto;
    font-size: 6px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(194, 193, 193, 0.5);
    border-right: 1.1em solid rgba(199, 197, 197, 0.5);
    border-bottom: 1.1em solid rgba(203, 203, 203, 0.5);
    border-left: 1em solid #E86031;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader, .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*================================
	# Font Size
================================*/
html {
    font-size: 0.9rem;
}

/*================================
	# Body
================================*/
body {
    z-index: 2;
    font-family: 'Helvetica Neue', sans-serif;
}


/*================================
	# Header
================================*/

header {
    /*opacity: 0.90;*/
    border-bottom: #e86031 3px solid;
    z-index: 1;
}

/*================================
	# Header Nav
================================*/
#menu-top {
    border-bottom: 1px solid #f5f5f5;
    padding: 6px 0px;
}

#menu-bot {
    padding: 6px 0px;
}

.nav {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #4c4a37;
}

.nav-link {
    color: #DDDDDD;
    font-weight: 400;
}
.nav-link:hover {
    color: #DDDDDD;
    font-weight: 400;
}

.navbar-brand {
    margin-top: -10px;
    margin-bottom: -10px;
}

.mailto {
    color: black;
    font-size: 0.85rem;
}
.mailto:hover {
    color: gray;
}

.phoneto {
    color: #DDDDDD;
    font-size: 0.85rem;
}

/*================================
	# Section
================================*/
.section-title  {
    margin: 10px 0px 15px 0px;
}

.section-title h3{
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}

.section-title h3 span {
    padding-bottom: 11px;
    border-bottom: 3px solid;
}

/*================================
	# Fieldset
================================*/
fieldset {
  padding:16px;	
  border:2px solid rgb(235, 228, 244);
  -moz-border-radius:8px;
  -webkit-border-radius:8px;	
  border-radius:8px;
  
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}

legend {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
  margin-top: -15px;
  background-color: white;
  color: black;
  border-radius: 12px;
}